<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../templates/head'); %>
  </head>
  <body>
    <header><%- include('../templates/header'); %></header>

    <main>
      <h1 style="color: red">Carte <%= num %></h1>
      <p>Contenu de la carte <%= num %></p>
    </main>
    <footer><%- include('../templates/footer'); %></footer>
  </body>
</html>